<div class="border rounded p-4">
  <h3 class="text-lg font-bold">Invitations reçues</h3>
  <div class="mt-4" *ngIf="friendRequestsReceived">
    <ul>
      <li class="py-2" *ngFor="let request of friendRequestsReceived">
        <div class="flex justify-between items-center">
          <span>
            {{ request.from.pseudo }}
          </span>
          <div>
            <button class="btn btn-primary mr-2" (click)="acceptInvitation(request._id)">Accepter</button>
            <button class="btn" (click)="rejectInvitation(request._id)">Refuser</button>
          </div>
        </div>
      </li>
    </ul>
    <div *ngIf="loadingSpinner" class="spinner-container">
      <app-spinner></app-spinner>
    </div>
  </div>
  <div *ngIf=" !friendRequestsReceived || friendRequestsReceived.length === 0 ">
    <p class="text-center">Aucune invitation recue</p>
  </div>

  <div *ngIf="successMessage">
    <app-alert type="sucess" message="{{successMessage}}"></app-alert>
  </div>

  <div *ngIf="errorMessage">
    <app-alert type="error" message="{{errorMessage}}"></app-alert>
  </div>
</div>


